@model TranDinhDuong_2280600533.Models.Product
@{
    ViewData["Title"] = "Xóa Sản Phẩm";
}

<h2>Xóa Sản Phẩm</h2>

<div>
    <h4>Bạn có chắc muốn xóa sản phẩm: @Model.Name?</h4>
    <div>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
